.header {
	background: ghostwhite;
	color: black;
	border: solid gray;
	padding: 10px;
	text-align: center;
	font-size: 25px;
	font-family: "Impact";
	letter-spacing: 3px;
	margin: 50px;
	border-radius: 25px;
	text-transform: uppercase;
}
.body {
	background: ghostwhite;
	color: black;
	border: solid gray;
	padding: 10px;
	font-family: "Arial";
	margin: 50px;
	text-indent: 3px;
}
.watermark {
	position: relative;
}
.watermark_inner {
	align-items: center;
	display: flex;
	justify-content: center;
	left: 0px;
	position: absolute;
	top: 100px;
	height: 100%;
	width: 100%;
}
.watermark_body {
	color: rgba(0, 0, 0, 0.1);
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	transform: rotate(-45deg);
	user-select: none;
}
.grid {
	display: inline-grid;
	grid-template-columns: 350px 350px 350px;
	grid-gap: 10px;
	background-color: ghostwhite;
	padding: 10px 10px;
	border: solid gray;
	margin: 80px;
	border-radius: 25px;
	text-align: center;
	font-family: "Arial"
}
.grid-item {
	background-color: ghostwhite;
	border: solid gray;
	padding: 10px;
	font-size: 15px;
	color: black;
}