body {
	background-color: #85b9dd
}
.header {
	color: white;
	font-family: Arial;
	margin: auto;
	letter-spacing: 0.0015em;
	font-size: 20px;
	text-shadow: 0 1px #8da1ff, -1px 0 #c0cbff, -1px 2px #8da1ff, -2px 1px #c0cbff,
		-2px 3px #8da1ff, -3px 2px #c0cbff, -3px 4px #8da1ff, -4px 3px #c0cbff,
		-4px 5px #8da1ff, -5px 4px #c0cbff, -5px 6px #8da1ff, -6px 5px #c0cbff,
		-6px 7px #8da1ff, -7px 6px #c0cbff, -7px 8px #8da1ff, -8px 7px #c0cbff;
	text-align: center;
}
html { height: 100%; display: flex;}
body { margin: auto; } 

.box {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image {
  display:flex;
  padding: 20px;
  will-change: transform;  
  &:hover {
       cursor: pointer;
    animation: bounceOut 0.8s ease-in-out forwards;
  }
}
@keyframes bounceOut {
  1% {
    transform: scale(1)
  }
  10% {
    transform: scale(1.55)
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.0625);
  }
    60% {
    transform: scale(1);
  }
      80% {
    transform: scale(1.015625);
  }
  100% {
    transform: scale(1);
  }
}

//slower bounce

@keyframes bounceOut {
      0%{ transform:scale(1); }
        50%{ transform:scale(1.3); }
        75%{ transform:scale(0.9); }
        100%{transform:scale(1);}
}
.vote {
  font-family: Arial;
  margin: auto;
  letter-spacing: 2px;
  font-size: 20px;
  text-align: center;
}