body {
  background-color: #85b9dd
}
.header {
  color: white;
  font-family: Arial;
  margin: auto;
  letter-spacing: 0.0015em;
  font-size: 30px;
  text-shadow: 0 1px #8da1ff, -1px 0 #c0cbff, -1px 2px #8da1ff, -2px 1px #c0cbff,
    -2px 3px #8da1ff, -3px 2px #c0cbff, -3px 4px #8da1ff, -4px 3px #c0cbff,
    -4px 5px #8da1ff, -5px 4px #c0cbff, -5px 6px #8da1ff, -6px 5px #c0cbff,
    -6px 7px #8da1ff, -7px 6px #c0cbff, -7px 8px #8da1ff, -8px 7px #c0cbff;
  text-align: center;
}
.text {
  color: white;
  font-family: Arial;
  margin: auto;
  font-size: 20px;
  text-align: center;
}
#choices {
  text-align: center;

}
.choice {
  height: 400px;
  display: inline-block;
  width: 100px;
}

.result {
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.bar {
  height: 0%;
  width: 70%;
  margin: 0 auto;
}

.bar[data-choice="1"] {
  background-color: #c0cbff;
}

.bar[data-choice="2"] {
  background-color: white;
}

.bar[data-choice="3"] {
  background-color: #8da1ff;
}

.label {
  height: 70px;
  text-align: center;
  font-family: Arial;
  color: white;
  font-size: 20px;
} 