body {
  background-color: #85b9dd
}
.header {
  color: white;
  font-family: Arial;
  margin: auto;
  letter-spacing: 0.0015em;
  font-size: 30px;
  text-shadow: 0 1px #8da1ff, -1px 0 #c0cbff, -1px 2px #8da1ff, -2px 1px #c0cbff,
    -2px 3px #8da1ff, -3px 2px #c0cbff, -3px 4px #8da1ff, -4px 3px #c0cbff,
    -4px 5px #8da1ff, -5px 4px #c0cbff, -5px 6px #8da1ff, -6px 5px #c0cbff,
    -6px 7px #8da1ff, -7px 6px #c0cbff, -7px 8px #8da1ff, -8px 7px #c0cbff;
  text-align: center;
}
.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px solid #8da1ff;
    background-color: white;
}  

.flex-child:first-child {
    margin-right: 20px;
} 
.todo {
  text-align: center;
  font-size: 30px;
  color: #8da1ff;
  font-family: monospace;
}
.list {
  text-align: center;
  font-size: 20px;
  color: #8da1ff;
}
.text {
  text-align: center;
  font-size: 15px;
  color: #8da1ff;
  padding: 10px;
}
