#convert {
  background-color: #FFDADA;

}
#convert:hover {
  background-color: #FF9A9A;
}
.header {
  background-image: linear-gradient(#f7340b, #ee4b2b);
  background-clip: text;
  text-fill-color: transparent;
  background-size: 100%;
  background: transparent;
}
.box {
  background: transparent;
  border: 5px solid gray;
  border-color: slateblue;
  border-radius: 25px;
  text-align: center;
  margin: 0px;
}
input {
  display: inline-flex;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  color: #f4a55a;
  font-family: cursive, sans-serif;
}
::-webkit-input-placeholder {
   color: #ccc;
}
:-moz-placeholder { /* Firefox 18- */
   color: #ccc;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #ccc;  
}
:-ms-input-placeholder {  
   color: #ccc;  
}
button {
  padding: 10px;
  font-size: 1.2em;
  color: #545454;
}