#convert {
  background-color: #FFDADA;

}
#convert:hover {
  background-color: #FF9A9A;
}
.gradient {
  font-size: 28px; 
  background: -webkit-linear-gradient(#0047ab, #ff0000); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.box1 {
  background: transparent;
  border: 5px solid gray;
  border-color: slateblue;
  border-radius: 25px;
  text-align: center;
  margin: 0px;
}
.snoopy {
  display: inline-block;
  display: flex;
  height: 350px;
  width: auto;
  margin: 10 auto;
}
.box2 {
  background: transparent;
  border: 5px solid gray;
  border-color: slateblue;
  border-radius: 25px;
  text-align: center;
  margin: 0px;
}
input {
  display: inline-flex;
  position: relative;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  color: slateblue;
  font-family: Arial;
}
::-webkit-input-placeholder {
   color: #ccc;
}
:-moz-placeholder { /* Firefox 18- */
   color: #ccc;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: darkred;  
}
:-ms-input-placeholder {  
   color: #ccc;  
}
button {
  padding: 10px;
  font-size: 1.2em;
  color: darkblue;
}